.separar{
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
    border: none;
}

input[type="text"], textarea {
    background-color :white; 
    color: white;
}

.card {
    border: 1px solid #c62828;
}